*{
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

a:link 
{ 
 text-decoration:none; 
} 

h1{
    text-align: center;
    font-family: Century Gothic;
    font-size: 26px;
}

h2{
    text-align: center;
    font-family: Century Gothic;
    font-size: 35px;
    font-weight: bold;
}

p1{
    text-align: center;
    font-family: 'Courgette', cursive;
}

p2{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: bold;
}

p3{
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

#header{
    position: relative;
    width: 1349px;
    height: 90px;
}

#main{
    position: relative;
    width: 1349px;
    height: 50px;
    text-align: center;
}

nav{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    font-family: Century Gothic, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 17px;
}

nav > a{
    text-decoration: none;
    color: blanchedalmond;
}

nav ul{
    display: inline-flex;
    flex-direction: row;
    list-style: none;
    width: 100%;
}

nav ul li a{
    display: inline-flex;
    padding: 22px 60px 20px 10px;
    width:90%;
    text-decoration: none;
    color:gray;
    letter-spacing: 1px;
}

nav ul li a:hover{
    color:#0b8688; 
    transition: 0.2s;
    text-decoration: underline;
}

#content{
    position: relative;
    width: 1349px;
    height: 1300px;
}

.texto{
    position:relative;
	width:590px;
	height:240px;
	background-color:#EEEEE0;
	float:left;
	margin-left: 30px;
    padding: 20px;
    margin-top: 15px;
}

.bgParallax {
    font-family: 'Elsie', cursive;
    color:#FFF08;
    width: 1349px;
    max-width: 1349px;
    position: relative;
    min-height: 40%;
    background-repeat: repeat;
    background-attachment: fixed;
}

#branco{
	height: 220px;
	background-image: url(A-Revista.jpg);
} 

#imagem{
	height:450px;
    background-image: url(img/Parallax.jpg);
}

#imagem2{
	height: 220px;
    background-image: url(img/Decoração.jpg);
}

#imagem3{
	height: 220px;
    background-image: url(img/Design.jpg);
}

#imagem4{
	height: 220px;
    background-image: url(img/Especiais.jpg);
}

#imagem5{
	height: 220px;
    background-image: url(Contato.jpg);
}

/* Formata o article que vai o texto*/
.bgParallax article{
  	width: 1349px;
  	text-align: center;
  	padding:20px;
}

.confira{
    position:relative;
    width:400px;
    height:400px;
    background-color:#ffffff;
    padding:10px;
    float: left;
    margin-left: 10px;  
    margin-top: 23px;
    box-shadow: 2px 2px black; 	
}

.sm{
	border-radius:20px;
	border:1px solid #8B8989;
	width: 100px;
	height: 25px;
    background: #FFFFFF;
}

.sm:hover
{
    opacity:1;
	background: #EEE5DE;
}

#footer{
    position: relative;
    width: 1160px;
    height: 100px;
    padding: 0 90px;
    border: 2px solid black;
}